@import "tailwindcss";

@theme {
  --color-primary: #ea7e24;
  --color-background-light: #f8fafc;
  --color-background-dark: #071044;

  --font-display: Montserrat, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
